.reset-password-title {
  margin-bottom: 8;
  font-weight: 500;
  font-size: 32px;
  color: #e31f25;
}

.reset-password-description {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
